* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#h1Title {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 8px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 4px;
}

#alertBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 10px auto;
    border: 2px dashed white;
    padding: 2px 4px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(63, 58, 58);
}

#alertBtn:hover {
    background-color: rgb(117, 108, 108);
}

#divContainer {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 10px auto;
    gap: 2px;
}

#divContainer div {
    aspect-ratio: 1 / 1;
    background-color: white;
}
